{% extends 'main.html' %} {% block content %}
<h1>Home Template</h1>
<link><link rel="stylesheet" href="style.css" /></link>
<style>
  .home-container {
    display: grid;

    grid-template-columns: 3fr 3fr;
  }
</style>

<div class="home-container">
  <div>
    <h3>Browse Topics</h3>

    <hr />
    <a href="{% url 'home' %}?q={{topic.name}}">All</a>
    {% for topic in topics %}
    <div>
      <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
    </div>
    {% endfor %}
  </div>

  <div>
    <h2>{{room.count}} Rooms Available</h2>
  </div>

  <a href="{% url 'create-room' %}"> Create Room</a> {% for room in rooms %}
  <div>

    {% if request.user == room.host %}
    <a href="{% url 'update-room' room.id %}">Edit</a>

    <a href="{% url 'delete-room' room.id %}">Delete</a>
    {% endif %}
    <h5>
      <span>@{{room.host.username}}</span>
      {{ room.id }} -- <a href="{% url 'room' room.id %}">{{ room.name }}</a>

      <small>{{room.topic.name}}</small>
    </h5>
  </div>
  {% endfor %}
</div>

{% endblock %}
