{% extends 'main.html' %} {% block content %}
<h1>Home Template</h1>
<link><link rel="stylesheet" href="style.css" /></link>
<style>
  .home-container {
    display: grid;

    grid-template-columns: 1fr 3fr 1fr;
  }
</style>

<div class="home-container">
  
  <div>
    {% include 'base/topic_component.html' %}
  </div>

  <div>
    <h2>{{room.count}} Rooms Available</h2>
  </div>

  <a href="{% url 'create-room' %}"> Create Room</a> 
  
  
  {% include 'base/feed_component.html' %}

<div>



{% include 'base/activity_component.html' %}


</div>






{% endblock %}
